<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationContent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>NotificationService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>clevertapiosintegration2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A73BCFAC29E406F300325D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A73BCFC229E406F800325D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A73BCFCC29E406F900325D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A73BCFE429E4244600325D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
